body {
    background: url("image/bgstone.jpg") no-repeat center #212121/cover;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
  }
  * {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;

  }
  /* navbar */
  .stay{
    color: rgb(184, 83, 24);
    border-bottom-color: rgb(236, 240, 6);
  }
  .nav-bar .menu ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.5em;
    margin: 0;
  }
  .nav-bar .menu ul li {
    list-style: none;
  }
  .nav-bar .menu ul li .chioce{
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 1.5em;
    text-shadow: 0px 0px 6px #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid white;
  }
  .nav-bar .menu ul li .chioce:hover {
    color: #B82318;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid rgb(236, 240, 6);
  }
  .nav-bar .menu ul li a img{
    background-image: hidden;
  }
  .nav-bar .menu ul li a img:hover{
    background-image: url(image/logohome2.png);
    transition: all 0.2s ease-in-out;
  }
  @media all and (min-width: 50em) {
    .nav-bar {
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 1000px;
      background: none;
      padding: 0 3%;
    }
  }

  /* navbar */
  /* details */
  .text-sub{
    width: 65%;
    margin: -3% auto;
    color: #fff;
  }
  .text-sub img{
    width: 230px;
    margin: 2% 30%;
  }
  .text-sub li{
    font-size: 1.5vw;
  }
  .text-sub p{
    font-size: 1.3vw;
  }
  table{
    text-align: center;
  }
  .img-main{
    margin-left: -90%;
  }
  .text-main{
    width: 77%;
  }
  .text-main b{
    font-size: 5vw;
  }
  .text-main h1{
    font-size: 2vw;
  }
  .text-main p{
    text-align: left;
    font-size: 1.3vw;
    font-weight: lighter;
    color: #fff;
    margin-left: 30%;
  }
  /* details */
  /* exbox */
  .ex-pic {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 8px;
    min-width: 225px;
    max-width: 225px;
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
    background: #000;
  }
  
  .ex-pic *,
  .ex-pic:before,
  .ex-pic:after,{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .ex-pic img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
  }
  
  .ex-pic:before,
  .ex-pic:after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: '';
    background-color: #fff;
    z-index: 1;
    opacity: 0;
  }
  
  .ex-pic:before {
    width: 0;
    height: 1px;
  }
  
  .ex-pic:after {
    height: 0;
    width: 1px;
  }
  
  .ex-pic figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
  }
  
  .ex-pic h1,
  .ex-pic h4,
  .ex-pic h5 {
    margin: 0;
    font-size: 2.1vw;
    font-weight: normal;
    opacity: 0;
  }
  .ex-pic:hover img{
    zoom: 1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.2;
  }
  
  .ex-pic:hover:before,
  .ex-pic:hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  .ex-pic:hover:before {
    width: 40px;
  }
  
  .ex-pic:hover:after {
    height: 40px;
  }
  
  .ex-pic:hover h1,
  .ex-pic:hover h4,
  .ex-pic:hover h5{
    opacity: 1;
  }
  
  .ex-pic:hover h1,
  .ex-pic:hover h4,
  .ex-pic:hover h5 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .stonex-box{
    margin: 1% 15%;
  }
  hr{
    margin: 5% auto;
    width: 80%;
  }
  /* exbox */
  /* cy */
  .cy-text p{
    text-align: left;
    font-size: 1.3vw;
    font-weight: lighter;
    color: #fff;
  }
  .cy-text b{
    font-size: 4vw;
    color: rgb(255, 255, 255);
  }
  .cy-text h1{
    font-size: 2vw;
    color: #fff;
  }
.cy{
    margin: 3% 10%;
  }
.cy img{
  width: 600px;
}
.cy-text{
  margin-left: 3%;
}
.cy-vdo{
  color: #fff;
  text-align: center;
  height: 300px;
  margin: 3%;
}
.cy-vdo h1{
  border: 2px solid rgba(216, 195, 3, 0.973);
  border-radius: 7px;
  background-color: rgba(51, 51, 51, 0.856);
  box-shadow: 0 10px  rgb(102, 92, 2);
  width: 40%;
  margin: 2% auto;
  padding: 1%;
}
/* ex */
.ex-head{
  color: #fff;
  margin: 0 25%;
}
.ex-head b{
  font-size: 3vw;
}
.ex-head p{
  font-size: 1.3vw;
  font-weight: lighter;

}
.ex-detail{
  color: #fff;
  margin: 0 15%;
}
.ex-detail b{
  color: #fff;
  font-size: 1.5vw;
}
.ex-detail p{
  color: #fff;
  font-size: 1.3vw;
  font-weight: lighter;
}
 