body {
    background: url("image/bgstone.jpg") no-repeat center #212121/cover;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
  }
  * {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;

  }
  /* navbar */
  .nav-bar .menu ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.5em;
    margin: 0;
  }
  .nav-bar .menu ul li {
    list-style: none;
  }
  .nav-bar .menu ul li a {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 1.2em;
    padding: 2em 1em;
    text-shadow: 0px 0px 6px #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .nav-bar .menu ul li a:hover {
    color: #B82318;
    transition: all 0.2s ease-in-out;
  }
  @media all and (min-width: 50em) {
    .nav-bar {
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 1000px;
      background: none;
      padding: 0 3%;
    }
  }
  /* navbar */
  /* details */
  table{
    width: 60%;
    margin: 0 auto;
    /* background-color: rgba(27, 27, 27, 0.2); */
  }
  h1,h2,h3,h4,h5,p{
    color: rgb(255, 255, 255);
}
  h1{
    margin-top: 5%;
    font-size: 3vw;
    background-color: rgba(252, 193, 0, 0.493)
  }
  h2{
    font-size: 2vw;
    background-color: rgba(252, 248, 0, 0.493)
  }
  h3{
    text-align: left;
    font-size: 1.5vw;
  }
  h4{
    margin-top: 5%;
    font-size: 3vw;
    background-color:  rgba(252, 248, 0, 0.493)
  }
  h5{
    margin-top: 5%;
    font-size: 3vw;
    background-color:  rgba(164, 252, 0, 0.493)
  }
  p{
    text-align: left;
    font-size: 1.1vw;
    font-weight: lighter;
  }
  /* details */
  /* exbox */
  .ex-pic {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 8px;
    min-width: 225px;
    max-width: 225px;
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
    background: #000;
  }
  
  .ex-pic *,
  .ex-pic:before,
  .ex-pic:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .ex-pic img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
  }
  
  .ex-pic:before,
  .ex-pic:after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: '';
    background-color: #fff;
    z-index: 1;
    opacity: 0;
  }
  
  .ex-pic:before {
    width: 0;
    height: 1px;
  }
  
  .ex-pic:after {
    height: 0;
    width: 1px;
  }
  
  .ex-pic figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
  }
  
  .ex-pic h1,
  .ex-pic h4,
  .ex-pic h5 {
    margin: 0;
    font-size: 2.1vw;
    font-weight: normal;
    opacity: 0;
  }
  .ex-pic:hover img{
    zoom: 1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.2;
  }
  
  .ex-pic:hover:before,
  .ex-pic:hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  
  .ex-pic:hover:before {
    width: 40px;
  }
  
  .ex-pic:hover:after {
    height: 40px;
  }
  
  .ex-pic:hover h1,
  .ex-pic:hover h4,
  .ex-pic:hover h5{
    opacity: 1;
  }
  
  .ex-pic:hover h1,
  .ex-pic:hover h4,
  .ex-pic:hover h5 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  /* exbox */