body {
    height: 100vh;
    background: url("image/maxresdefault2.jpg") no-repeat center #212121/cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
  }
  * {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
  }
  /* index */
  header{
    /* padding: 100%;
    background-color: #fff;
    overflow:scroll; */
  }
  .img-clip-block {
    /* margin: 5% auto;
    max-width: 700px;
    height: 100px; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-clip-row {
    text-align: center;
  }
  .img-clip-wrap {
    width: 300px; 
    height: 300px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  #stone{
    width: 300px; 
    height: 300px; 
    background-image: url("image/home1.png");
  }
  #stonecolor{
    width: 300px; 
    height: 300px; 
    background-image: url("image/home2.png") ;
  }
  #gem{
    width: 300px; 
    height: 300px;
    background-image: url("image/home3.png") ;
  }
  .overlay {
    background: hsla(30, 4%, 55%, 0.664);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    transition: all 0.3s linear;
  }
  .overlay-content {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 180%;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }
  .img-clip-wrap:hover .overlay {
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    background: none;
  }
  @media only screen and (min-width: 650px) {
    .img-clip-row {
      margin-top: -154px;
    }
  
    .img-clip-row:first-of-type {
      margin-top: auto;
    }
  
    .img-clip-wrap {
      display: inline-block;
    }
  }
  /* index */
  /* navbar */
  .nav-bar .menu ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.5em;
    margin: 0;
  }
  .nav-bar .menu ul li {
    list-style: none;
  }
  .nav-bar .menu ul li .chioce{
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 1.5em;
    text-shadow: 0px 0px 6px #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid white;
  }
  .nav-bar .menu ul li .chioce:hover {
    color: #B82318;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid rgb(236, 240, 6);
  }
  .nav-bar .menu ul li a img{
    background-image: hidden;
  }
  .nav-bar .menu ul li a img:hover{
    background-image: url(image/logohome2.png);
    transition: all 0.2s ease-in-out;
  }
  @media all and (min-width: 50em) {
    .nav-bar {
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 1000px;
      background: none;
      padding: 0 3%;
    }
  }
  /* navbar */
  /* stone */
table{
  height: 70vh;
  width: 80%;
  margin: 0 auto;
}
h1{
  color: #fff;
}
.c{
  border-radius: 50%;
  text-align: center;
  padding: 6px 5px 4px 5px;
  display: inline-block;
  min-width: 230px;
  background-color: rgba(87, 82, 55, 0.692);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.c:after {
  content: "";
  display: inline-block;
  width: 0;
  padding: 50% 0;
  vertical-align: middle;
}
.c:hover {
  color: rgb(187, 159, 0);
  transition: all 0.2s ease-in-out;
  background-color: rgba(216, 17, 17, 0.527);
 }
 #stone-bg{
  background: url(image/colorstonebg.png) no-repeat center #212121/cover;
  background-attachment: fixed;
 }
/* gem */
.gem-box{
  display: flex;
  margin: 1% 15%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: hsla(32, 100%, 35%, 0.897);
}
.gem-text{
  margin: 1% 2.2%;
  color: #fff;
}
.gem-name{
  margin: 5px;
}
#gem-bg{
  background: url(image/gembgg.jpg) no-repeat center #212121/cover;
  width: 100%;
  background-attachment: fixed;
}
.gem-image{
  margin: 1.2%;
  
}
.gem-image img{
  border-radius: 5px;
}
.gem-intro{
  text-align: center;
  margin: 4% 25%;
  color: #fff;
}
.gem-intro b{
  font-size: 3vw;
}
p{
  font-size: 1.3vw;
  text-align: left;
}
/* gem */
/* colorstone */
#colorstone-bg{
  background: url(image/colorstonebg.jpg) no-repeat center #212121/cover;
  background-attachment: fixed;
  }
.predic h1{
  color: rgb(255, 255, 255);
    font-size: 3vw;
    text-align: center;
    border: 2px solid rgba(216, 195, 3, 0.973);
    background-color: rgba(51, 51, 51, 0.856);
    width: 31%;
    margin: 2% auto;
    border-radius: 7px;
    padding: 5px;
}
.color-intro{
  color: rgb(255, 255, 255);
  margin: 5% 10% 5% 45%;
}
.color-intro b{
  font-size: 5vw;
}
.color-intro h1{
  font-size: 2vw;
}
#topic{
  font-size: 3vw;
}
.box-choose{
  margin: 3% auto;
  text-align: center;
}
#mymonth,#submit{
  font-size: 150%;
}
#box-stone{
  text-align: center;
  margin:2px auto;

}
#topic{
  color: rgb(0, 0, 0);
  text-align: center;
}
#c-text{
  font-size: 1.3vw;
  margin: 3% 20%;
  color: rgb(0, 0, 0);
}
/* colorstone */