body {
    height: 100vh;
    background: url("image/maxresdefault2.jpg") no-repeat center #212121/cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
  }
  * {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
  }
  /* index */
  .img-clip-block {
    margin: 58px 0;
  }
  .img-clip-row {
    text-align: center;
  }
  .img-clip-wrap {
    width: 300px; 
    height: 300px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  #stone{
    width: 300px; 
    height: 300px; 
    background-image: url("image/home1.png");
  }
  #stonecolor{
    width: 300px; 
    height: 300px; 
    background-image: url("image/home2.png");
  }
  #gem{
    width: 300px; 
    height: 300px;
    background-image: url("image/home3.png");
  }
  .overlay {
    background: hsla(30, 4%, 55%, 0.664);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    transition: all 0.3s linear;
  }
  .overlay-content {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 180%;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }
  .img-clip-wrap:hover .overlay {
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    background: none;
  }
  @media only screen and (min-width: 650px) {
    .img-clip-row {
      margin-top: -154px;
    }
  
    .img-clip-row:first-of-type {
      margin-top: auto;
    }
  
    .img-clip-wrap {
      display: inline-block;
    }
  }
  /* index */
  /* navbar */
  .nav-bar .menu ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.5em;
    margin: 0;
  }
  .nav-bar .menu ul li {
    list-style: none;
  }
  .nav-bar .menu ul li a {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 1.2em;
    padding: 2em 1em;
    text-shadow: 0px 0px 6px #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .nav-bar .menu ul li a:hover {
    color: #B82318;
    transition: all 0.2s ease-in-out;
  }
  @media all and (min-width: 50em) {
    .nav-bar {
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 1000px;
      background: none;
      padding: 0 3%;
    }
  }
  /* navbar */
  /* stone */
table{
  height: 92vh;
  width: 80%;
  margin: 0 auto;
}
h1{
  color: #fff;
}
.c{
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.623);
  text-align: center;
  padding: 6px 5px 4px 5px;
  display: inline-block;
  min-width: 230px;
  background-color: rgba(48, 47, 47, 0.5);
}
.c:after {
  content: "";
  display: inline-block;
  width: 0;
  padding: 50% 0;
  vertical-align: middle;
}
.c:hover {
  color: rgb(187, 159, 0);
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(255, 255, 255);
 }
 #stone-bg{
  background: url(image/colorstonebg.png);
 }
/* gem */
.gem-box{
  display: flex;
  margin: 1% 15%;
  border: 2px solid rgb(255, 255, 255);
}
.gem-text{
  margin: 1% 2.2%;
  color: #fff;
}
.gem-name{
  margin: 5px;
}
#gem-bg{
  background: url(image/gembgg.jpg);
  width: 100%;
  background-attachment: fixed;
}
.gem-image{
  margin: 1.2%;
}
.gem-intro{
  text-align: center;
  margin: 4% 13%;
  color: #fff;
}
p{
  font-size: 18px;
  text-align: left;
}
#colorstone-bg{
background: url(image/colorstonebg.jpg);
}